<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Add allergies </title>
</head>
<body>
    <header>
        <nav>
           <ul>
                <li><a href="/"> Add allergies</a></li>
                <li><a href="allergies-list"> My allergies</a></li>
           </ul>
        </nav>
    </header>

    <main>
      <h1> My allergies</h1>
      <p> List of all my allergies...</p>
    </main>
    
</body>
</html>